<div class="home-all">
    <!--标题-->
    <p>苏正堂</p>
    <!--副标题-->
    <div class="home-title">
        <h4>我是标题我是标题我是标题</h4>
    </div>
    <!--正文-->
    <div class="home-content">
        <p>知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子</p>
    </div>

    <!--标题-->
    <p>苏正堂</p>
    <!--副标题-->
    <div class="home-title">
        <h4>我是标题我是标题我是标题</h4>
    </div>
    <!--正文-->
    <div class="home-content">
        <p>知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子</p>
    </div>

    <!--标题-->
    <p>苏正堂</p>
    <!--副标题-->
    <div class="home-title">
        <h4>我是标题我是标题我是标题</h4>
    </div>
    <!--正文-->
    <div class="home-content">
        <p>知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子</p>
    </div>

    <!--标题-->
    <p>苏正堂</p>
    <!--副标题-->
    <div class="home-title">
        <h4>我是标题我是标题我是标题</h4>
    </div>
    <!--正文-->
    <div class="home-content">
        <p>知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子</p>
    </div>

    <!--标题-->
    <p>苏正堂</p>
    <!--副标题-->
    <div class="home-title">
        <h4>我是标题我是标题我是标题</h4>
    </div>
    <!--正文-->
    <div class="home-content">
        <p>知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子</p>
    </div>

    <!--标题-->
    <p>苏正堂</p>
    <!--副标题-->
    <div class="home-title">
        <h4>我是标题我是标题我是标题</h4>
    </div>
    <!--正文-->
    <div class="home-content">
        <p>知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子</p>
    </div>

    <!--标题-->
    <p>苏正堂</p>
    <!--副标题-->
    <div class="home-title">
        <h4>我是标题我是标题我是标题</h4>
    </div>
    <!--正文-->
    <div class="home-content">
        <p>知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子,知道怎么就好，一定要学会自立和自强，自由自己强大了，生活才会精彩，不然会看着别人过日子</p>
    </div>
</div>